/*
Migration: V1_0_0_13__create_surcharge_trans_table.sql
Description: Creates table for storing surcharge transaction records linked to provider configurations
Dependencies: 
- V1_0_0_1__create_schema.sql (requires fee_nominal schema)
- V1_0_0_2__create_merchant_tables.sql (requires merchants table)
- V1_0_0_3__create_api_key_tables.sql (requires surcharge_provider_configs table)
Changes:
- Creates surcharge_trans table with foreign key to surcharge_provider_configs
- Includes fields for operation types, source transactions, and full payloads
- Adds proper indexing for performance
*/

DO $$
BEGIN
    RAISE NOTICE 'Starting V1_0_0_13__create_surcharge_trans_table migration...';
END $$;

-- Set search path
SET search_path TO fee_nominal;
DO $$
BEGIN
    RAISE NOTICE 'Set search path to fee_nominal';
END $$;

-- Create operation type enum
CREATE TYPE fee_nominal.surcharge_operation_type AS ENUM (
    'auth',
    'sale',
    'refund',
    'cancel'
);

-- Create transaction status enum
CREATE TYPE fee_nominal.surcharge_transaction_status AS ENUM (
    'pending',
    'processing',
    'completed',
    'failed',
    'cancelled'
);

DO $$
BEGIN
    RAISE NOTICE 'Created surcharge operation and status enums';
END $$;

-- Create surcharge_trans table
CREATE TABLE IF NOT EXISTS fee_nominal.surcharge_trans (
    surcharge_trans_id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
    merchant_id UUID NOT NULL REFERENCES fee_nominal.merchants(merchant_id),
    provider_config_id UUID NOT NULL REFERENCES fee_nominal.surcharge_provider_configs(surcharge_provider_config_id),
    operation_type fee_nominal.surcharge_operation_type NOT NULL,
    source_transaction_id VARCHAR(255) NOT NULL,
    request_payload JSONB NOT NULL,
    response_payload JSONB,
    status fee_nominal.surcharge_transaction_status NOT NULL DEFAULT 'pending',
    amount DECIMAL(19,4) NOT NULL,
    currency VARCHAR(3) NOT NULL DEFAULT 'USD',
    error_message TEXT,
    created_at TIMESTAMP WITH TIME ZONE NOT NULL DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP WITH TIME ZONE NOT NULL DEFAULT CURRENT_TIMESTAMP,
    processed_at TIMESTAMP WITH TIME ZONE
);

DO $$
BEGIN
    RAISE NOTICE 'Created surcharge_trans table';
END $$;

-- Verify surcharge_trans table
DO $$ 
BEGIN
    IF NOT EXISTS (SELECT 1 FROM pg_tables WHERE schemaname = 'fee_nominal' AND tablename = 'surcharge_trans') THEN
        RAISE EXCEPTION 'Table surcharge_trans was not created successfully';
    END IF;
    RAISE NOTICE 'Verified surcharge_trans table creation';
END $$;

-- Create indexes for performance
CREATE INDEX IF NOT EXISTS idx_surcharge_trans_merchant_id ON fee_nominal.surcharge_trans(merchant_id);
CREATE INDEX IF NOT EXISTS idx_surcharge_trans_provider_config_id ON fee_nominal.surcharge_trans(provider_config_id);
CREATE INDEX IF NOT EXISTS idx_surcharge_trans_source_transaction_id ON fee_nominal.surcharge_trans(source_transaction_id);
CREATE INDEX IF NOT EXISTS idx_surcharge_trans_status ON fee_nominal.surcharge_trans(status);
CREATE INDEX IF NOT EXISTS idx_surcharge_trans_created_at ON fee_nominal.surcharge_trans(created_at);
CREATE INDEX IF NOT EXISTS idx_surcharge_trans_operation_type ON fee_nominal.surcharge_trans(operation_type);
CREATE INDEX IF NOT EXISTS idx_surcharge_trans_processed_at ON fee_nominal.surcharge_trans(processed_at);

-- Create composite indexes for common query patterns
CREATE INDEX IF NOT EXISTS idx_surcharge_trans_merchant_status ON fee_nominal.surcharge_trans(merchant_id, status);
CREATE INDEX IF NOT EXISTS idx_surcharge_trans_provider_status ON fee_nominal.surcharge_trans(provider_config_id, status);
CREATE INDEX IF NOT EXISTS idx_surcharge_trans_operation_status ON fee_nominal.surcharge_trans(operation_type, status);

DO $$
BEGIN
    RAISE NOTICE 'Created indexes for surcharge_trans table';
END $$;

-- Verify indexes
DO $$ 
BEGIN
    IF NOT EXISTS (SELECT 1 FROM pg_indexes WHERE schemaname = 'fee_nominal' AND tablename = 'surcharge_trans' AND indexname = 'idx_surcharge_trans_merchant_id') THEN
        RAISE EXCEPTION 'Index idx_surcharge_trans_merchant_id was not created successfully';
    END IF;
    RAISE NOTICE 'Verified index creation';
END $$;

DO $$
BEGIN
    RAISE NOTICE 'Completed V1_0_0_13__create_surcharge_trans_table migration successfully';
END $$;
