/*
Migration: V1_0_0_14__create_supported_providers_table.sql
Description: Creates table for storing supported surcharge provider codes and metadata
*/

CREATE TABLE IF NOT EXISTS fee_nominal.supported_providers (
    supported_provider_id SERIAL PRIMARY KEY,
    provider_code VARCHAR(50) NOT NULL UNIQUE,
    provider_name VARCHAR(100) NOT NULL,
    description TEXT,
    is_active BOOLEAN NOT NULL DEFAULT true,
    integration_type VARCHAR(50) NOT NULL,
    base_url_template VARCHAR(255),
    authentication_type VARCHAR(50) NOT NULL,
    created_at TIMESTAMP WITH TIME ZONE NOT NULL DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP WITH TIME ZONE NOT NULL DEFAULT CURRENT_TIMESTAMP
);

INSERT INTO fee_nominal.supported_providers (provider_code, provider_name, description, integration_type, authentication_type) VALUES
    ('INTERPAYMENTS', 'Interpayments', 'Interpayments Surcharge Provider', 'INTERPAYMENTS', 'JWT'),
    ('GENERIC', 'Generic Provider', 'Generic surcharge provider for future use', 'GENERIC', 'API_KEY')
ON CONFLICT (provider_code) DO NOTHING;

CREATE INDEX IF NOT EXISTS idx_supported_providers_code ON fee_nominal.supported_providers(provider_code);
CREATE INDEX IF NOT EXISTS idx_supported_providers_active ON fee_nominal.supported_providers(is_active);
CREATE INDEX IF NOT EXISTS idx_supported_providers_integration_type ON fee_nominal.supported_providers(integration_type);
